
  <%- include('partials/commonhead'); -%>
    <link rel="stylesheet" href="changepassword.css">
  </head>

  <body>

    <%- include('partials/header'); -%>

    <div id="viewscreen">
      <%- include('partials/sidebar'); -%>
      <%- include('partials/commonchangepassword') -%>

    </div>
  </body>

  <%- include('partials/js') -%>
  <script type="text/javascript" src="changepassword.js"></script>

</html>
