<!DOCTYPE html>
<html>
    <head>
        <title>CQ</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >

        <!-- BOOTSTRAP 3-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="/sidebar.css" rel="stylesheet" type = "text/css">
        <link href="/header.css" rel="stylesheet" type = "text/css">
        <link href="/communityprofile.css" rel="stylesheet"  type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <% include partials/header.ejs %>
          <p style="display:none;"><%= obj.req  %></p>
            <div id="viewscreen">
                <% include partials/sidebar.ejs %>
                    <div id="rightview">
                        <div class="container-fluid" style="min-width:368px;padding:0;">
                            <div class="row">
                                <div class="col-lg-12" >
                                    <div id="communityHeaderOfMobile" style="padding-top:6px;position:relative;">
                                        <%  for(i=0;i!=obj.req.length;i++) 
                                                    { 
                                                        if(obj.req[i] == commobj._id)
                                                        {
                                                            message = 'Requested';
                                                            i=-1;
                                                            break;
                                                        }
                                                    }

                                                    if(i!=-1)
                                                    for(i=0;i!=obj.join.length;i++) 
                                                    { 
                                                        if(obj.join[i] == commobj._id)
                                                        {
                                                            i=-2;
                                                            break;
                                                        } 
                                                    }

                                                    if(i!=-1 && i!=-2)
                                                    for(i=0;i!=obj.owned.length;i++) 
                                                    { 
                                                        console.log(obj.owned[i],commobj._id);
                                                        if(obj.owned[i] == commobj._id)
                                                        {
                                                            i=-2;
                                                            break;
                                                        } 
                                                    }

                                                    if(i!=-1 && i!=-2)
                                                    for(i=0;i!=obj.manager.length;i++) 
                                                    { 
                                                        if(obj.manager[i] == commobj._id)
                                                        {
                                                            i=-2;
                                                            break;
                                                        } 
                                                    }

                                                    if(i!=-1 && i!=-2)
                                                    i=-3;
                                                
                                                 if(i==-1 || i==-3) { %>
                                                    <div class="container" id="askbtndiv"> 
                                                        <button class="btn btn-info" id="btnToJoin" style="float:right;border-radius:0">
                                                            <i class="fa fa-ask"></i>
                                                            <% if(i==-1) { %>
                                                                Requested <% } 
                                                            else if(commobj.communitymembershiprule=='Direct') { %>
                                                                Join
                                                                <% } 
                                                                else { %>
                                                                    Ask To Join
                                                            <% } %>
                                                        </button>
                                                    </div> 
                                                <% } %>
                                        <center>
                                            <div id="mobileCq" style="max-height:40px;">
                                                <a style="color:white;font-size: 15px;font-weight: bold;"><%= commobj.communityowner %></a>
                                            </div>
                                        </center>
                                        <center>
                                            <a>
                                                <img src="<%= commobj.communityimage %>" id="headerCommImage1" >
                                            </a>
                                        </center>
                                    </div>

                                      <div  class="container" id="communityHeaderOfLap">

                                          <div class="col-sm-2 col-xs-12"  id="lapDiv1">
                                              <a><img src="<%= commobj.communityimage %>" id="headerCommImage2"></a>
                                          </div>

                                          <div class="col-sm-8" id="lapDiv2">
                                            <a href="/community/communityprofile/<%= commobj._id %>"><%= commobj.communityname %></a>
                                          </div>

                                          <div class="col-sm-2 col-xs-12 center-mobile" style="padding-top:10px;float:right">
                                              <div class="dropdown">
                                                  <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-bars"></i>
                                                  </button>
                                                  <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right" style="margin-top:40px">
                                                      <li>
                                                          <a href="/community/discussions/<%=commobj._id%>" class="community-profile-option-btn">
                                                            Discussions
                                                          </a>
                                                      </li>



                                                      <% if( obj._id == commobj.communityownerid ) { %>
                                                        <li>
                                                            <a href="/community/managecommunity/<%=commobj._id%>" class="community-profile-option-btn">
                                                              Manage Community
                                                            </a>
                                                        </li>
                                        
                                                        <% } %>


                                                      <li>
                                                          <a href="/community/communityprofile/<%=commobj._id%>" class="community-profile-option-btn">
                                                            Community Profile
                                                          </a>
                                                      </li>

                                                      <li>
                                                          <a href="/community/communitymembers/<%=commobj._id%>" class="community-profile-option-btn">
                                                            Community Members
                                                          </a>
                                                      </li>

                                                    </ul>
                                              </div>
                                          </div>

                                      </div>

                                    <center>
                                        <hr style="border-top: 2px solid #E6E6E6;  width: 85%; margin-top:0;" >
                                    </center>

                                    <!-- MAIN CONTENT OF PAGE BEGINS -->
                                    <div class="container">
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="panel panel-default" style="border-radius:0;box-shadow: 0 3px 10px 0 rgba(115,143,147,.3)">

                                              <div class="panel-heading" style="border:0;border-radius:0">
                                                  Members
                                                  <a href="/community/communitymembers/<%= commobj._id %>" style="float:right">View all</a>
                                              </div>

                                                <div class="panel-body" style="border:0;border-radius:0">
                                                    <!-- <div class="col-sm-12 col-xs-12 center-all">
                                                        <center>
                                                          <button class="btn btn-primary">
                                                            <% if(commobj.communitymembershiprule=='Direct'){ %>
                                                             Join
                                                            <% } else{ %>
                                                             Ask To Join
                                                            <% } %>
                                                          </button>
                                                        </center>
                                                    </div> -->
                                                    <div class="col-sm-12 col-xs-12" style="padding:0" id="membersDiv">
                                                      <% for(i=0;i<commobj.communitymember.length;i++) { %>
                                                        <div class="col-sm-6 col-xs-3 col-md-3 col-lg-3 center-all" style="padding:0;">
                                                          <a href="/viewprofile/<%= commobj.communitymember[i]._id%>" class="communityProfileUserImage">
                                                            <img class="communityProfileUserImage allSidesSoft" src="<%= commobj.communitymember[i].photoname%>">
                                                          </a>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>

                                                <div class="panel-footer">
                                                    <p class="center-all" style="margin:0;" id="noOfmemebers">
                                                        <%= commobj.communitymember.length %> Members
                                                    </p>
                                                </div>

                                            </div>
                                            <div class="panel panel-default" style="border-radius:0;box-shadow: 0 3px 10px 0 rgba(115,143,147,.3)">
                                                <div class="panel-heading" style="border:0;border-radius:0">
                                                    Community Managers
                                                </div>
                                                <div class="panel-body" style="border:0;border-radius:0">
                                                    <div id="communityOwnerdetails">
                                                        <div class="col-sm-12 col-md-12 col-lg-12 adminInfo">
                                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4 center-all">
                                                                <a><img src="<%= commobj.communityownerid.photoname %>" class="adminPic allSides" style="width:50px;height:50px;border-radius:50%;"></a>
                                                            </div>
                                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xs-8 adminContent" style="padding:0;">
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="padding:0;">
                                                                    <span class="label label-success" style="margin-top:10px;">OWNER</span>
                                                                </div>
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="padding:0;">
                                                                    <a href="/viewprofile/<%= commobj.communityownerid._id %>"><%= commobj.communityownerid.name %></a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="community-admins-detail">
                                                      <% for(i=0;i<commobj.communitymanager.length;i++) { %>
                                                        <div class="col-sm-12 col-md-12 col-lg-12 adminInfo">

                                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4 adminContent center-all">
                                                                <a><img src="<%= commobj.communitymanager[i].photoname%>" class="adminPic allSides" style="width:50px;height:50px;border-radius:50%;"></a>
                                                            </div>

                                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xs-8 adminContent" style="padding:0;">
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="padding:0;">
                                                                    <span class="label label-warning" style="margin-top:10px;">Admin</span>
                                                                </div>
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="padding:0;">
                                                                    <a href="/viewprofile/<%= commobj.communitymanager[i]._id %>"><%= commobj.communitymanager[i].name %></a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                      <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-8 col-xs-12" style="padding:0 10px 10px 10px;">
                                            <div class="panel panel-default center-all" style="border-radius:0;box-shadow: 0 3px 10px 0 rgba(115,143,147,.3)">
                                                <div class="panel-heading" style="border:0;border-radius:0">
                                                    About Community
                                                </div>
                                                <div class="panel-body" style="border:0;border-radius:0">
                                                  <p id="communityDescriptionPara">
                                                    <%= commobj.communitydescription %>
                                                  </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </body>
    <script src="/sidebar.js"></script>
    <script src="/communityprofile.js"></script>
</html>
